#root {
  height: 100vh;
}
.main {
  height: 100%;
  background-color: #e4eff6;
}

.search-input {
  border-left: 0 !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.search-icon {
  border-right: 0 solid transparent !important;
}

.fmxw-500 {
  max-width: 500px !important;
}

.w-100 {
  width: 100% !important;
}

.link {
  color: #262b40;
  text-decoration: none;
  cursor: pointer;
}

.input-valid {
  border-color: green;
}
.input-invalid {
  border-color: red;
}

.error-code {
  font-size: 10rem;
}
